@using WebApplication1.Models.VM;
@model lista_pdfVM;
@{
    Layout = null;
}
<style>
    #hader_podloga {
        position: relative;
        height: 10%;
        width: 100%;
        background-color: rgb(11, 105, 154);
    }

    #naslov {
        position: relative;
        text-align: center;
        color: white;
        font-size: 500%;
        top: 24px;
    }

    #opis_tekst {
        word-wrap: break-word;
    }

    table {
        border: 3px solid black;
        text-align: center;
    }

    td {
        padding: 0.5%;
        border:1px solid black;
    }

    table {
        width: 100%;
    }
</style>
<div id="glavni">
    <div id="hader_podloga"><p id="naslov">LJEKARNI SISTEM</p></div>
    <div id="podaci">
        <table class="table">
            <thead>
                <th>
                    Datum prijema
                </th>
                <th>
                    Pacijent
                </th>
                <th>
                    Ljekar
                </th>
                <th>
                    Hitno
                </th>
                <th>
                    Datum nalaza
                </th>
                <th>
                    Opis nalaza
                </th>
            </thead>
            <tbody>
                @foreach (var x in Model.lista)
                {
                    <tr>
                        <td>
                            @x.datumPrijema
                        </td>
                        <td>
                            @x.pacijent
                        </td>
                        <td>
                            @x.ljekar
                        </td>
                        @{
                            if (x.hitno)
                            {
                                <td><b>DA</b></td>
                            }
                            else
                            {
                                <td>NE</td>
                            }
                        }
                        @{
                            if (x.datumNalaza != null)
                            {
                                <td>
                                    @x.datumNalaza
                                </td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                        @{
                            if (x.opis != null)
                            {
                                <td id="opis_tekst">
                                    @x.opis
                                </td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>