@using WebApplication1.Models;  
@using WebApplication1.Models.VM;
@model lista_PacijentPrikazVM;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a style="position:relative; left:45%;" class="btn btn-success" href="/Pacijent/Unos">Dodaj</a>
<table class="table table-striped">
    <thead>
        <th>Ime i prezime</th>
        <th>Datum rođenja</th>
        <th>Spol</th>
        <th>Adresa</th>
        <th>Broj telefona</th>
        <th>Akcija</th>
    </thead>
    <tbody>
        @foreach(var x in Model.lista)
        {
            <tr>
                <td>@(x.Ime+" "+x.Prezime)</td>
                <td>@(x.DatumRodjenja.Day+"."+ x.DatumRodjenja.Month + "." + x.DatumRodjenja.Year + ".")</td>
                <td>@x.spol.Naziv</td>
                @if (x.Adresa != null)
                {
                    <td>@x.Adresa</td>
                }
                @if (x.Adresa == null)
                {
                    <td>N/A</td>
                }
                @if (x.BrojTelefona != null)
                {
                    <td>@x.BrojTelefona</td>
                }
                @if (x.BrojTelefona == null)
                {
                    <td>N/A</td>
                }
            <td>
                <a class="btn btn-primary" href="/Pacijent/Uredi?id=@x.PacijentID">Uredi</a><a id="ukloni_@x.PacijentID" class="btn btn-danger" style="color:white;">Ukloni</a><span style="color:black; position:absolute;float:right;margin-left:1%;" id="poruka_@x.PacijentID">Sigurni? <a href="/Pacijent/Ukloni?id=@x.PacijentID" style="color:black; font-weight:bold;">Da</a> <a id="no_@x.PacijentID" style="color:black;cursor:pointer; font-weight:bold;">Ne</a></span>
                <script>
                            $("#poruka_@x.PacijentID").hide();

                            $("#ukloni_@x.PacijentID").click(function () {
                                $("#poruka_@x.PacijentID").slideDown();
                            });

                            $("#no_@x.PacijentID").click(function () {
                                $("#poruka_@x.PacijentID").slideUp();
                            });
                </script>
            </td>
            </tr>
        }
    </tbody>
</table>