@using WebApplication1.Models;
@{
    ViewData["Title"] = "Uredi";

    Pacijent p = (Pacijent)ViewData["pacijent"];

    List<Spol> spolovi = (List<Spol>)ViewData["spol"];
}
<link rel="stylesheet" href="~/css/errorStyle.css" />

<h1>Uredi</h1>

<h4>Pacijent</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <input id="id" name="id" hidden="hidden" value="@p.PacijentID" />

        <div class="form-group">
            <label class="control-label">Ime</label>
            <input class="form-control" id="ime" name="ime" type="text" value="@p.Ime" />
            <span id="span_ime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Prezime</label>
            <input class="form-control" id="prezime" name="prezime" type="text" value="@p.Prezime" />
            <span id="span_prezime" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Datum rođenja</label>
            <input class="form-control" id="datum_rodjenja" name="datum_rodjenja" type="datetime" value="@p.DatumRodjenja.Date" />
            <span id="span_datum" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Spol</label>
            <select id="spol" name="spol" class="form-control">
                <option value="@p.spol.SpolID">@p.spol.Naziv</option>
                <option disabled="disabled"></option>
                @foreach (var x in spolovi)
                {
                    <option value="@x.SpolID">@x.Naziv</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Adresa</label>
            <input class="form-control" id="adresa" name="adresa" type="text" value="@p.Adresa" />
        </div>

        <div class="form-group">
            <label class="control-label">Broj telefona</label>
            <input class="form-control" id="telefon" type="tel" name="telefon" value="@p.BrojTelefona" />
        </div>

        <button class="btn btn-primary" onclick="test()">Snimi</button>

    </div>
</div>

<script src="~/js/Pacijent/Uredi.js"></script>